/* Titulo de pagina*/
 
a,
span,
p,
div,
h1,
h2{
  font-family: 'Foldit', cursive;
  font-family: 'Raleway', sans-serif;
  font-style:normal;
}

/*Estilos del menu*/

#menu-lateral {
  margin-top: 62px;
  width: 100px;
  height: 100%;
  background-color: #D9D9D9;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;

}

#menu-lateral ul {
  list-style: none;
  padding: 0;
}

#menu-lateral li {
  background-color: #D9D9D9;
  margin: 1px 0;
  padding: 10px;
}

#menu-lateral li a {
  color: #fff;
  text-decoration: none;
  display:flex;
}


.menu-item img{
  width: auto;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #bebbbb;
}

.menu-text {
  display: none;
}

.menu-item:hover .menu-text {
  display: block;
}

.icon-menu{
  width: auto;
  height: 40px;
}
.buscarO[placeholder], [placeholder], *[placeholder]{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18.3333px 77.5px;
    gap: 8.33px;

    position: absolute;
    width: 370.83px;
    height: 41.67px;
    left: 125px;
    top: 140px;

    border: 0.833333px solid rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 16.6667px 29.1667px rgba(0, 0, 0, 0.05));
    border-radius: 12.5px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16.6667px;
    line-height: 10px;
    color: rgba(105, 5, 105, 0.81);
    opacity: 0.6;
    text-transform: uppercase;   
}
.imgBuscador{
    position: absolute;
    width: 23.33px;
    height: 23.33px;
    left: 447.5px;
    top: 150.17px;   
    background: url("../../../assets/Images/Sergio/ofertas/imagen4.png");
    border: none; 

}
.text1{
    position: absolute;
    width: 837.15px;
    height: 145.45px;
    left: 125px;
    top: 90.79px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 31.6204px;
    line-height: 38px;
    color: #000000;
}
.agregarProductos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17.3912px 33.5174px;
    gap: 7.91px;

    position: absolute;
    width: 229.25px;
    height: 39.53px;
    left: 1082.21px;
    top: 142.6px;

    background: rgba(105, 5, 105, 0.81);
    border: 0.790509px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 15.8102px 27.6678px rgba(0, 0, 0, 0.05);
    border-radius: 3.95255px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14.8102px;
    line-height: 5px;
    line-break: -10px;
    /* identical to box height */

    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;


    color: #FFFFFF;
}
.container{
    width: 100%;
    max-width: 1125px;
    margin: auto;
    top: 800px;
    text-align: center;

}
.tabla{
    top: 100px;
    left: 10px;
    width: 100%;
    margin-top: 180px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0.833333px solid #000000;
    border-collapse: unset;
    border-spacing: 0;
}
.tabla2{
  left: 10px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  border: 0.833333px solid #000000;
  border-collapse: unset;
  border-spacing: 0;
}
.checkbox{
  top: 10%;
  left: 10px;
  height: 17px;
  width: 17px;
  background-color: #eee;
}
.th, td {
  padding: 1em;
  background: white;
  border-top: 0.833333px solid #000000;
  text-align: center
}
.estado-btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .estado-btn:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s;
  }
  
  .estado-encendido {
    background-color: #4caf50;
  }
  
  .estado-encendido:before {
    transform: translateX(24px);
  }
  
  .estado-apagado {
    background-color: #ccc;
  }
  
  .estado-apagado:before {
    transform: translateX(0);
  }
  .modal {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  .checkbox{
    top: 10%;
    left: 50px;
    height: 17px;
    width: 17px;
    background-color: #eee;
  }
  .td2{
    width: 80px;
  }
  .td3{
    width: 120px;
    text-align: left;
  }
  .botonCancelar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17.3912px 53.5174px;
    gap: 7.91px;
  
    position: absolute;
    width: 202.96px;
    height: 59.05px;
    left: 372.33px;
    background: #FFFFFF;
    border: 1.97627px solid #9B109B;
    box-shadow: 0px 15.8102px 27.6678px rgba(0, 0, 0, 0.05);
    border-radius: 11.8576px;
  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25.5729px;
    line-height: 23px;
    
    color: #9B109B;
    }
  .botonContinuar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17.3912px 49.5174px;
    gap: 7.91px;
  
    position: absolute;
    width: 202.96px;
    height: 59.05px;
    left: 824.5px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25.5729px;
    line-height: 23px;
    background: #9B109B;
    border: 0.790509px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 15.8102px 27.6678px rgba(0, 0, 0, 0.05);
    border-radius: 11.8576px;
  
    color: #FFFFFF;
  }
  .botones {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  }
  .espacio {
    height: 20px; /* Ajusta la altura del espacio en blanco según sea necesario */
  }