<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
</head>
<header>
  <app-header-page title="Mi Desempeño"></app-header-page>
</header>
<app-sidebar></app-sidebar>

<body style="padding-top: 60px;">
  <!-- Content Wrapper. Contains page content -->
  <div id="principal">
    <!-- Contenido de tu página -->
    <!-- Contenido de tu página -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-2 invoice-col">
              <i class="far fa-clock" style="font-size: 35px;"></i>
              <strong>ÚLTIMA SESIÓN</strong><br>
              <p class="m-4">
                Tu última sesión fue hace {{ ultimaSesion }}
              </p>
            </div>
            
            <div class="col-sm-2 invoice-col">
              <i class="fas fa-bullhorn" style="font-size: 35px;"></i>
              <strong>RECLAMOS</strong><br>
              <p class="m-4">
                Has tenido {{ reclamos }} reclamos en el último mes
              </p>
            </div>
            
            <div class="col-sm-2 invoice-col">
              <i class="fas fa-shopping-cart" style="font-size: 35px;"></i>
              <strong>VENTAS</strong><br>
              <p class="m-4">
                Has realizado {{ ventas }} ventas este mes
              </p>
            </div>
            <div class="col-sm-6 invoice-col d-flex flex-column">
              <div>
                <p>Opinión de los compradores</p>
              </div>
              <div class="align-items-center">
                <ul class="semaforo verde rojo amarillo azul naranja">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div style="text-align: end;">
                <p (click)="redirectToOpinion()" style="cursor: pointer;">Ver Detalle</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row">

          <div class="col-md-6">

            <div class="card direct-chat direct-chat-primary">
              <div class="card-header">
                <h3 class="card-title" (click)="redirectToPreguntas()">Mensajes sin responder</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages">
                  <ng-container *ngFor="let mensaje of datosPreguntas">
                    <div class="row m-2" style="background: #79017E; color: white; border-radius: 20px;">
                      <div class="col-4 col-md-2 d-flex align-items-center justify-content-center">
                        <img src="{{ mensaje.Image }}" alt="Imagen del producto" style="height: 70px; width: 70px; border-radius: 15px; margin: 10px;">
                      </div>
                      <div class="col-8 col-md-8">
                        <div>
                          <p class="mb-2">{{ mensaje.Tipo_producto }}</p>
                          <p class="mb-2">{{ mensaje.Nombre }}</p>
                          <p class="mb-2">{{ mensaje.Pregunta }}</p>
                          <p class="mb-2">{{mensaje.Fecha}}</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <!--/.direct-chat-messages-->
              </div>

              <!-- /.card-footer-->
              <!--/.direct-chat -->
            </div>
            <!-- /.card-footer-->
          </div>
          <div class="col-md-6">

            <div class="card direct-chat direct-chat-primary">
              <div class="card-header">
                <h3 class="card-title" (click)="redirectToVentas()">Ventas por Preparar</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages">
                  <ng-container *ngFor="let venta of datosVentas">
                    <div class="row m-2" style="background: #79017E; color: white; border-radius: 20px;">
                      <div class="col-3 col-md-3 d-flex align-items-center justify-content-center">
                        <img src="{{ venta.image }}" alt="Imagen del producto" style="height: 70px; width: 70px; border-radius: 15px;">
                      </div>
                      <div class="col-9 col-md-6">
                        <div>
                          <p class="mb-2">Venta #{{ venta.numero }}</p>
                          <p class="mb-2">{{ venta.nombre_producto }}</p>
                          <p class="mb-2">{{ venta.nombre_cliente }}</p>
                          <p class="mb-2">{{ venta.fecha }}</p>
                        </div>
                      </div>
                      <div class="col-12 col-md-3 d-flex align-items-center justify-content-center" style="font-size: 30px">
                        <p>${{ venta.precio }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
                
                <!--/.direct-chat-messages-->
              </div>

              <!-- /.card-footer-->
              <!--/.direct-chat -->
            </div>
            <!-- /.card-footer-->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</body>

</html>