<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProblemasProductos</title>
</head>
<body>
    <header> 
        <app-header-page title="Problemas Productos"></app-header-page>
      </header>
      
      <app-sidebar></app-sidebar>

    <main>
        <div class="busqueda">
            <div class="filtro">
                <form action="problemas-productos.component.ts">
                    <select (ngModel)="filtroSeleccionado">
                        <option value="" (click)="filtrar('dia')">ordenar por</option>
                        <option value="dia" (click)="filtrar('semana')">Día</option>
                        <option value="semana" (click)="filtrar('mes')">Semana</option>
                        <option value="mes" (click)="filtrar('mes')">Mes</option>
                        <option value="anio" (click)="filtrar('anio')">Año</option>
                    </select>
                </form>
              </div>

              <input class="buscar" type="text" name="search" (ngModel)="searchText" (keyup)="filtrarTabla()" autocomplete="on" placeholder=" BUSCAR  ">

        </div>
        <div class="contenedor">
            <table class="tabla">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tipo de producto</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                     <tr *ngFor="let item of data | paginate: {itemsPerPage: elementosPorPagina, currentPage: paginaActual} | filter: searchText">
                        <td>{{ item.fecha }}</td>
                        <td><img [src]="item.imagePath" alt="imagen">{{ item.tipo_producto }}</td>
                        <td>{{ item.motivo }}</td>
                        <td>{{item.estado}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
        <div class="paginacion">
            <pagination-controls (page)="paginaActual"
            (itemsPerPage)="elementosPorPagina"
            (totalItems)="data.length"
            (pageChange)="onPageChange($event)"
            ></pagination-controls>
        </div>

        <div class="final">
            <p class="p">🔵 Concluido</p>
            <p>🟡 Pendiente</p>
            <p>🟢 Enviado</p>
            <p>🔴 Declinado</p>
            
            <button class="boton" routerLink="/reclamos-formulario">Nuevo reclamo</button>
        </div>
    </main>
</body>
</html>
