<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <title>Asociados</title>
  <link rel="stylesheet" href="about-us.component.css">
</head>

<header>
  <div class="toolbar" role="banner">
    <a class="link-icon" href="">
      <img width="46" alt="Logo Asociados" src= "../assets/Images/apreton-de-manos.png"/>
      <p class="PageName">ASOCIADOS UV</p>
    </a>

    <div class="title-container">
      <h1 class="title-page">Contactanos</h1>
    </div>

    <div class="header-icons">
      <a href="" class="icon-link">
          <img src="../../assets/Images/Alerta.png" alt="Alertas">
    
        <span>Alertas</span>
      </a>
      <a href="" class="icon-link">
        <img src="../../assets/Images/usuario.png" alt="Sesion">
        <span>Sesion</span>
      </a>
    </div>
  </div>

</header>

<body>
  
</body>
</html>
