<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <title>Asociados</title>
  <link rel="stylesheet" href="about-us.component.css">
</head>

<body>
  <header>
      <div class="toolbar" role="banner">
          <a class="link-icon" routerLink="">
            <img src="../assets/Images/apreton-de-manos.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            ASOCIADOS UV
          </a>
      
          <div class="title-container">
            <h1 class="title-page">Contáctanos</h1>
          </div>
      
          <div class="header-icons">
            <a href="" class="icon-link">
                <img src="../../assets/Images/Alerta.png" alt="Alertas">
          
              <span>Alertas</span>
            </a>
            <a href="" class="icon-link">
              <img src="../../assets/Images/usuario.png" alt="Sesion">
              <span>Sesion</span>
            </a>
          </div>
        </div>
  </header>  
  
  <main class="margen-about-us">
    <div>
      <h1 class="title-about-us">SOBRE NOSOTROS</h1>
      <p>
        Asociados UV es una empresa líder en el sector del desarrollo de software. Con sede en [ubicación], nos enorgullece ofrecer soluciones de software de alta calidad y servicios personalizados para satisfacer las necesidades únicas de nuestros clientes.
      </p>
      <p>
        Nuestro equipo de profesionales altamente capacitados y apasionados está comprometido en proporcionar soluciones tecnológicas innovadoras y escalables. Nos especializamos en el desarrollo de aplicaciones web y móviles, diseño de interfaces intuitivas, implementación de bases de datos eficientes y soluciones de comercio electrónico.
      </p>
      <p>
        En Asociados UV, nos enorgullece nuestra capacidad para mantenernos a la vanguardia de las últimas tecnologías y tendencias en el desarrollo de software. Nos mantenemos actualizados con los avances en el campo y aplicamos las mejores prácticas de la industria en cada proyecto que emprendemos.
      </p>
    </div>
  </main>
</body>
</html>
