<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <title>Asociados</title>
  <link rel="stylesheet" href="about-us.component.css">
</head>

<body>
  <header>
      <div class="toolbar" role="banner">
          <a class="link-icon" routerLink="">
            <img src="../assets/Images/apreton-de-manos.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            ASOCIADOS UV
          </a>
      
          <div class="title-container">
            <h1 class="title-page">Contáctanos</h1>
          </div>
      
          <div class="header-icons">
            <a href="" class="icon-link">
                <img src="../../assets/Images/Alerta.png" alt="Alertas">
          
              <span>Alertas</span>
            </a>
            <a href="" class="icon-link">
              <img src="../../assets/Images/usuario.png" alt="Sesion">
              <span>Sesion</span>
            </a>
          </div>
        </div>
  </header>  
  
  <main class="margen-about-us">
    <section>
      <div>
        <h1 class="title-about-us">SOBRE NOSOTROS</h1>
        <div class="text-about-us">
          <p>
            Asociados UV es una empresa líder en el sector del desarrollo de software. Con sede en Orizaba, nos enorgullece ofrecer soluciones de software de alta calidad y servicios personalizados para satisfacer las necesidades únicas de nuestros clientes.
          </p>
          <p>
            Nuestro equipo de profesionales altamente capacitados y apasionados está comprometido en proporcionar soluciones tecnológicas innovadoras y escalables. Nos especializamos en el desarrollo de aplicaciones web y móviles, diseño de interfaces intuitivas, implementación de bases de datos eficientes y soluciones de comercio electrónico.
          </p>
          <p>
            En Asociados UV, nos enorgullece nuestra capacidad para mantenernos a la vanguardia de las últimas tecnologías y tendencias en el desarrollo de software. Nos mantenemos actualizados con los avances en el campo y aplicamos las mejores prácticas de la industria en cada proyecto que emprendemos.
            Nuestra pasión por la excelencia y nuestra dedicación a la satisfacción del cliente nos han permitido establecer relaciones sólidas y duraderas con nuestros clientes. Valoramos la confianza que nuestros clientes depositan en nosotros y nos esforzamos por superar sus expectativas en cada proyecto.
          </p>
          <p>
            Nuestra pasión por la excelencia y nuestra dedicación a la satisfacción del cliente nos han permitido establecer relaciones sólidas y duraderas con nuestros clientes. Valoramos la confianza que nuestros clientes depositan en nosotros y nos esforzamos por superar sus expectativas en cada proyecto.
  
            Si estás buscando soluciones de software personalizadas y confiables, Asociados UV es tu socio de confianza. Permítenos ayudarte a transformar tus ideas en realidad y alcanzar el éxito tecnológico que deseas.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="cont-equipo">
        <h1 class="title-equipo">EQUIPO DIRECTIVO</h1>
        <div class="contenedor-equipo">
          <div class="fila-equipo">
            <div class="miembro">
              <div class="circulo"></div>
              <h3>Alexis Roman</h3>
              <p>CEO</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="miembro">
              <div class="circulo"></div>
              <h3>Johan Ortega</h3>
              <p>CTO</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          
            <div class="miembro">
              <div class="circulo"></div>
              <h3>Daniel Rosas</h3>
              <p>CISO</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="miembro">
              <div class="circulo"></div>
              <h3>Denisse Santos</h3>
              <p>COO</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>  
          </div>
        </div>
        <div class="fila-equipo">
          <div class="miembro">
            <div class="circulo"></div>
            <h3>Lizbeth Caballero</h3>
            <p>CTO</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="miembro">
            <div class="circulo"></div>
            <h3>Diego Conde</h3>
            <p>CTO</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="miembro">
            <div class="circulo"></div>
            <h3>Sergio Jimenez</h3>
            <p>CTO</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="cont-contacto">
      <h1 class="title-contacto">INFORMACION DE CONTACTO</h1>
      <ul class="datos-contacto">
        <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Principal 123, Orizaba, Mexico</li>
        <li><i class="fas fa-phone"></i> Teléfono: +1234567890</li>
        <li><i class="fas fa-envelope"></i> Correo electrónico: info@asociadosuv.com</li>
      </ul>
    </section>
  </main>
</body>
</html>
