<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <title>Asociados</title>
  <link rel="stylesheet" href="metricas.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Foldit&family=Raleway:wght@100;500&display=swap" rel="stylesheet">
</head>

<header>
  <app-header-page title="Metricas"></app-header-page>
</header>
<body>
    <app-sidebar></app-sidebar>
    <section class="fondoCrema">
        <div class="circulito1xd"></div>
        <h2 class="text1">Ventas por publicidad</h2>
        <div class="circulito2xd"></div>
        <h2 class="text2">Ventas sin publicidad</h2>
        <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">
         Utimo mes <span class="caret"></span>
         <ul class="dropdown-menu" role="menu">
            <li><a href="#">Ultimos 15 dias</a></li>
            <li><a href="#">Ultimos 6 meses</a></li>
            <li><a href="#">Ultimo trimestre</a></li>
          </ul>
  </button>
    </section>
</body>