<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Asociados UV</title>
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

   <!-- Link hacia el archivo de estilos css -->
   <link rel="stylesheet" href="login.component.css">

   <style type="text/css">
   </style>
   
   <script type="text/javascript">

   </script>
</head>
<body>
  <div class="screen">
    <img class="imagen" src="../../assets/Images/login/logo.png" alt="">
    <img class="logo1" src="../../assets/Images/login/sesion.png" alt="">
    <img class="logo2" src=".../../assets/Images/login/negocios.png" alt="">
    
    <div class="contenedor"><br><br>
      <input type="email" required placeholder=" Ingresa tu correo electronico"><br>
      <input type="password" required placeholder="Ingresa tu contraseña">
      <button class="BtnIniciar" routerLink="/principal">Iniciar sesion</button>
      <a href="">¿Olvidaste tu contraseña?</a>
      <a href="">Crear tu cuenta</a><br><br>
    </div>
  </div>
</body>
</html>

