body {
  font-family: 'raleway', sans-serif;
  font-weight: normal;
    font-size: 100%;
    color: #42505C;
    width: 90%;
    background-color: #FFFFFF;
}

.imagen {
  position: relative;
  left: 10%;
  width: 90%;
  height: auto;
  max-width: 275px;
  max-height: 125px;
  margin-top: 10%;
}

.logo1{
  width: 90%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  left: 130%;
  top: 200px;
}

.logo2{
  width: 90%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  left: 200%;
  top: 50px;
}


.screen{
  position: relative;
  width: auto;
  max-width: 500px;
  height: 90%;
  margin: 5%;
  margin-top: 60px;
  
  background: rgba(255, 201, 148, 0.2);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.datos {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  width: auto;
  max-width: 70%;
  margin: 0 auto;
}

input{
  position: relative;
  padding: 20px;
  width: 350px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #9B109B;
  border-radius: 30px;
  outline: none;
  margin-top: 10%;
}

p{
  position: relative;
  color:#9B109B;
  font-family: 'raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
cursor: pointer;
}

.BtnIniciar {
  position: relative;
  display: flex;
  width: 70%;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
  left: 15%;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
justify-content: center;
line-height: 45px;
text-align: center;
letter-spacing: 0.25px;

  background: #9B109B;
  border: 1px solid #D1D1D1;
  border-radius: 30px;
  outline: none;
}


@media (max-width: 768px){
  body{
    font-size: 14px;
  }
  .screen{
    margin-top: 5%;
    width: 100%;
    max-width: 100%;
  }
  input {
    max-width: 100%;
  }
  .BtnIniciar {
    max-width: 100%;
  }

  a{
    font-size: 16px;
    top: 5%;
  }
    .imagen {
      top: 10px;
      left: 5%;
    }
    .logo1,
    .logo2{
      display: none;
    }
  
}