<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Asociados UV</title>
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

   <!-- Link hacia el archivo de estilos css -->
   <link rel="stylesheet" href="login.component.css">

   <style type="text/css">
   </style>
</head>
<body>
  <div class="screen">
    <div class="datos">
      <img class="imagen" src="../../assets/Images/login/logo.png" alt="">
      <img class="logo1" src="../../assets/Images/login/sesion.png" alt="">
      <img class="logo2" src=".../../assets/Images/login/negocios.png" alt="">
      
      <form>
      <input type="email" id="email" name="email" required placeholder="Ingresa tú correo electronico">

      <input type="password" id="password" name="password" required placeholder="Ingresa tú contraseña">

      <button class="BtnIniciar" routerLink="/principal">Iniciar sesion</button>

      <p routerLink="/requestpasword">¿Olvidaste tu contraseña?</p>
      <p routerLink="/register">Crear tú cuenta.</p><br>
    
    </form>

    </div>
    
  </div>
</body>
</html>

