body {
    font-family: 'raleway', sans-serif;
    font-weight: normal, bold;
      font-size: 100%;
      color: #42505C;
      width: 90%;
      background-color: #FFFF;
      
  }

  .seguro{
    position: absolute;
    height: 512px;
    width: 512px;
    left: 500px;
    top: 50px;

  }

  .settings{
    position: absolute;
    height: 250px;
    width: 500px;
    left: 700px;
    top: 285px;

  }

 
  .contanier{
    position: relative;
  width: auto;
  max-width: 500px;
  height: 90%;
  margin: 5%;
  margin-top: 50px;
  
  background: rgba(255, 201, 148, 0.2);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  }

  .datos{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  width: auto;
  max-width: 70%;
  margin: 0 auto;
  }

  h2{
    width: auto;
    font-family: 'raleway';
  font-style: bold;
  font-weight: 500;
  font-size: 26px;
  text-align: left;
  margin-top: 10%;
  }

  h3{
    font-family: 'raleway';
  font-style: bold;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  margin-top: 3%;
  }

  p{
  font-family: 'raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.25px;
  margin-top: 5%;
  }

  
  
  input{
    position: relative;
    padding: 20px;
    width: 350px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #9B109B;
    border-radius: 30px;
    outline: none;
  }

  .Btn-solicitud{
    position: relative;
  display: flex;
  width: 70%;
  height: 50px;
  margin-bottom: 25px;
  left: 15%;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  justify-content: center;
  line-height: 45px;
  text-align: center;
  background: #9B109B;
  border: 1px solid #D1D1D1;
  border-radius: 30px;
  outline: none;
  }

  @media (max-width: 768px){
    
    .contanier{
      margin-top: 5%;
      width: 100%;
      max-width: 100%;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 14px;
    }

    p{
        max-width: 100%;
        font-size: 14px;
    }

    input {
      max-width: 100%;
    }
    .Btn-solicitud {
      max-width: 100%;
      font-size: 14px;
    } 

    .seguro,
    .settings {
      display: none;
    }
  }
    
  
