<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asociados UV</title>
</head>

<body>
  <header>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">       
        </a>
      </div>
    </nav>
      <div class="toolbar" role="banner">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="display: flex; align-items: center; justify-content: center; width: 45px; height: 45px;">
            <i class="fas fa-bars" style="color: #ffffff; font-size: 20px;"></i></a>
        </li>
          <a class="link-icon" href="">
            <img src="../assets/Images/apreton-de-manos.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            ASOCIADOS UV
          </a>
      
          <div class="title-container">
            <h1 class="title-page">{{title}}</h1>
          </div>
      
          <div class="header-icons">
            <a href="" class="icon-link">
                <img src="../../assets/Images/Alerta.png" alt="Alertas">
          
              <span>Alertas</span>
            </a>
            <a href="" class="icon-link">
              <img src="../../assets/Images/usuario.png" alt="Sesion">
              <span>Sesion</span>
            </a>
          </div>
        </div>
  </header>    
</body>
</html> 
