<div class="popup">
    <div class="popup-top">
        <img class="img-perfil-popup" [src]="profile" alt="Foto de perfil">
      
      <div class="info-container">
        <p class="name-popup">{{ username }}</p>
        <p class="email-popup">{{ email }}</p>
      </div>
    </div>
    <div class="popup-bottom">
      <div class="popup-opciones">
        <a [routerLink]="['../about-us']" routerLinkActive="active">Editar perfil</a>
        <a [routerLink]="['../about-us']" routerLinkActive="active">Cerrar sesión</a>
      </div>
    </div>
  </div>
  