<!DOCTYPE html>
<html>

<head>
    <title>Retiro de Fondos</title>
</head>
<header>
    <app-header-page title="Retiro de Fondos"></app-header-page>
</header>
<app-sidebar></app-sidebar>

<body style="margin-top: 60px;">
    <!-- Content Wrapper. Contains page content -->
    <div id="principal">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-5">
                        <div class="card direct-chat direct-chat-primary" style="background: rgba(255, 201, 148, 0.2);
                            border-radius: 25px;">
                            <div class="card-header">
                                <h5 class="card-title">Selecciona el mes</h5>
                            </div>
                            <div class="form-group" style="padding: 60px; padding-bottom: 40px; " >
                                <select class="form-control select2"
                                    style="width: 100%; height: 100px; background: #79017E; border-radius: 15px; font-size: 27px; color: white; text-align: center;">
                                    <option selected="selected">Enero</option>
                                    <option>Febrero</option>
                                    <option>Marzo</option>
                                    <option>Abril</option>
                                    <option>Mayo</option>
                                    <option>Junio</option>
                                    <option>Julio</option>
                                    <option>Agosto</option>
                                    <option>Septiembre</option>
                                    <option>Octubre</option>
                                    <option>Noviembre</option>
                                    <option>Diciembre</option>
                                </select>
                            </div>
                            <div
                                style="display: flex; align-items: center; justify-content: center; margin-left: 40px ; margin-right: 40px ; margin-top: 30px; margin-bottom: 30px;">
                                <button type="button" class="btn btn-block btn-default btn-lg"
                                    style="font-size: 25px; background-color: #79017E; width: 300px; height: 80px; color: white; border-radius: 25px;">Descargar
                                    PDF</button>
                            </div>
                            <div
                                style="display: flex; align-items: center; justify-content: center; margin-left: 40px ; margin-right: 40px ; margin-top: 30px; margin-bottom: 30px;">
                                <button type="button" class="btn btn-block btn-default btn-lg"
                                    style="font-size: 25px; border-color: #79017E; width: 300px; height: 80px; border-radius: 25px;">Ver
                                    Calendario</button>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div>
                            <div class="card direct-chat direct-chat-primary" style="background: rgba(255, 201, 148, 0.2);
                            border-radius: 25px;">
                                <div class="card-header">
                                    <h3 class="card-title">Movimientos</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <!-- Conversations are loaded here -->
                                    <div class="direct-chat-messages" style="height: 70vh;">
                                        <!-- Message. Default to the left -->
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center ">
                                                <p style="font-size: 25px;">Retiraste</p>
                                            </div>
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2">25 de mayo 14:20</p>
                                            </div>
                                        </div>
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2 ml-3" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2 ml-3">25 de mayo 14:20</p>
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center justify-content-end">

                                                <p class="text-right" style="font-size: 25px;">Recibiste</p>

                                            </div>
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                        </div>
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center ">
                                                <p style="font-size: 25px;">Retiraste</p>
                                            </div>
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2">25 de mayo 14:20</p>
                                            </div>
                                        </div>
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2 ml-3" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2 ml-3">25 de mayo 14:20</p>
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center justify-content-end">

                                                <p class="text-right" style="font-size: 25px;">Recibiste</p>

                                            </div>
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                        </div>
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center ">
                                                <p style="font-size: 25px;">Retiraste</p>
                                            </div>
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2">25 de mayo 14:20</p>
                                            </div>
                                        </div>
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2 ml-3" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2 ml-3">25 de mayo 14:20</p>
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center justify-content-end">

                                                <p class="text-right" style="font-size: 25px;">Recibiste</p>

                                            </div>
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                        </div>
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center ">
                                                <p style="font-size: 25px;">Retiraste</p>
                                            </div>
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2">25 de mayo 14:20</p>
                                            </div>
                                        </div>
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2 ml-3" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2 ml-3">25 de mayo 14:20</p>
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center justify-content-end">

                                                <p class="text-right" style="font-size: 25px;">Recibiste</p>

                                            </div>
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                        </div>
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center ">
                                                <p style="font-size: 25px;">Retiraste</p>
                                            </div>
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2">25 de mayo 14:20</p>
                                            </div>
                                        </div>
                                        <div class="row m-2"
                                            style="background: rgba(103, 0, 105, 0.7); opacity: 0.75; border-radius: 20px;">
                                            <div class="col-4 col-md-4">
                                                <p class="mt-2 ml-3" style="font-size: 25px;">$3,000</p>
                                                <p class="mt-2 ml-3">25 de mayo 14:20</p>
                                            </div>
                                            <div class="col-5 col-md-6 d-flex align-items-center justify-content-end">

                                                <p class="text-right" style="font-size: 25px;">Recibiste</p>

                                            </div>
                                            <div
                                                class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                                <img src="../assets/dist/img/prod-1.jpg" alt="Imagen del producto"
                                                    style="height: 70px; width: 70px; border-radius: 15px;">
                                            </div>
                                        </div>

                                        <!-- /.direct-chat-msg -->

                                    </div>
                                    <div
                                        style="display: flex; align-items: flex-end; justify-content: flex-end; margin-right: 15px;">
                                        <p>Ver Todos</p>
                                    </div>
                                    <!--/.direct-chat-messages-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>