<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <title>Asociados</title>
  <link rel="stylesheet" href="publicidad1.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Foldit&family=Raleway:wght@100;500&display=swap" rel="stylesheet">
</head>

<header>
  <app-header-page title="Publicidad"></app-header-page>
</header>
<body>
    <div class="imagenMoradita">
      <h1 class="title1">Haz crecer tu negocio con
        anuncios patrocinados</h1>   
      <h1 class="text1">Alcanza a los compradores que están buscando productos como los tuyos. Los anuncios patrocinados pueden elevar tus niveles de venta al ayudar a que tus productos sean más visibles.</h1>      
      <button (click)=" continuar()" class="buttonEmpezar" type="button">EMPIEZA AHORA</button>
    </div>
<section>
  <div>
    <img class="fondomorado" src="src\assets\Images\Sergio\pub1\image 104.png" alt="">
    <img class="fondoproducts" alt="" src="../../../assets/Images/Sergio/pub1/Group 48.png">
    <div class="info1"> 
      <div>
        <h1 class="text2">Mejora la visibilidad de tus productos</h1>
        <h2 class="text3">Ayuda a los clientes a descubrir tus productos con anuncios que aparecen en los resultados de consultas de compra y en las páginas de producto relacionados.</h2>
        <h1 class="text4">Alcanza a clientes nuevos</h1>
        <h2 class="text5">Logra que tu marca y tus productos destaquen con formatos creativos atractivos.</h2>
        <h1 class="text6">Vende tus productos con eficacia</h1>
        <h2 class="text7">Al usar palabras clave que aparezcan en los resultados de consultas de compra relevantes, puedes atraer el interés de los compradores que aún no han descubierto tu marca.</h2>
      </div>       
    </div>    
  </div>
</section>
  <section>
    <h1 class="title2">Soluciones publicitarias para todos los presupuestos</h1>
    <div>
      <img class="img1" alt="" src="../../../assets/Images/Sergio/pub1/image2.png">
      <h1 class="text8">Sin tarifas por adelantado</h1>
      <h2 class="text11">Los precios son de costo por clic, lo que significa que pagas solo cuando un comprador haga clic en tu anuncio.</h2>
    </div>
    <div>
      <img class="img2" alt="" src="../../../assets/Images/Sergio/pub1/image1.png">
      <h1 class="text9">Establece tu propio presupuesto</h1>
      <h2 class="text12">Nunca se te cobrará más del presupuesto que establezcas.</h2>
    </div>
    <div>
      <img class="img3" alt="" src="../../../assets/Images/Sergio/pub1/image3.png">
      <h1 class="text10">Empieza poco a poco</h1>
      <h2 class="text13">Puedes incrementar tu inversión publicitaria a medida que veas que tus ventas aumentan</h2>
    </div>     
  </section>
  <section>
    <h1 class="textVendedores">Vendedores como tú ya tienen grandes resultados</h1>
    <img class="image5" alt="">
    <div>
      <img class="diego" alt="">
      <h2 class="textDiega">“La simpleza al utilizarlo es uno de los mayores beneficios que encontramos. Aparecés primero y te genera una visibilidad muy importante, de hecho eso es lo que está haciendo que vendamos muy bien”.</h2>
      <h3 class="textDiega2">+200% de ventas extras 
        Diego Ivan, Grupo Papiperras.
        Mendoza / Veracruz</h3>
    </div>
  </section>   
  <section>
    <img class="image6" alt="" src="../../../assets/Images/Sergio/pub1/image6.png" (click)="scrollToTop()">
    <div class="rectangulito"></div>
    <div>
      <img class="isra" alt="" src="../../../assets/Images/Sergio/pub1/isra.png">
      <h1 class="text14">¿Qué esperas para unirte?
        +17,000 vendedores
        de Papiperras ya usan Papiperras Ads</h1>
      <img class="diege" alt="" src="../../../assets/Images/Sergio/pub1/diege.png">
      <img class="ondita" alt="" src="../../../assets/Images/Sergio/pub1/Vector.png">
    </div>
  </section>
</body>
</html> 

