<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../favicon.ico" />
    <script src="./principal.component.js"></script>
    <title>Asociados UV</title>
    <link rel="stylesheet" href="principal.component.css" />
  </head>

  <body>
    <header id="header">
      <div class="toolbar" role="banner">
        <a class="link-icon" href="">
          <img width="46"alt="Logo Asociados" src="../assets/Images/apreton-de-manos.png"/>
          <p class="PageName">ASOCIADOS UV</p>
        </a>
  
        <div class="spacer"></div>
  
        <nav>
          <a href="#inicio" class="enlaces">Inicio</a>
          <a href="#requisitos" class="enlaces">Requisitos</a>
          <a href="#beneficios" class="enlaces">Beneficios</a>
          <a href="#contacto" class="enlaces">Contacto</a>
        </nav>
  
        <!--Ng Material button-->
        <div>
          <button mat-stroked-button class="BtnIniciar" routerLink="/devolucion">
            Iniciar sesion
          </button>
        </div>
        <div>
          <button mat-stroked-button href="" class="BtnCrear">
            Crear cuenta
          </button>
        </div>
      </div>
    </header>

    <section id="inicio" class="ContInicio">
      <div>
        <div class="otherImg">
          <h1 class="title1-cont">¿Estas listo para ser parte de esto?</h1>
          <div class="imagen-container">
            <img class="ventaImg" src="../assets/Images/ImgPrincipal/ventas.jpg" alt=""
            />
          </div>
        </div>

        <h2 class="title2-cont">¡Miles de personas ya lo están usando!</h2>
        <img class="calidadImg" src="../assets/Images/ImgPrincipal/verificacion.png" alt=""/>

        <div>
          <h2 class="title3-cont">Accede a miles de clientes potenciales!!!</h2>
        </div>
      </div>
    </section>

    <section id="requisitos" class="ContRequisitos">
      <div>
        <h1 class="title-cont">
          Conoce los requisitos para vender tus productos en Asociados UV
        </h1>
      </div>

      <div class="servicios">
        <section class="servicio">
          <div class="icono">
            <img class="Icon-Crear" src="../assets/Images/ImgPrincipal/cuenta.png" alt=""/>
          </div>
          <h3>Crear una cuenta</h3>
          <p>Como vendedor en Asociados UV.</p>
        </section>

        <section class="servicio">
          <div class="icono">
            <img class="Icon-Desc" src="../assets/Images/ImgPrincipal/caracteristica.png" alt=""/>
          </div>
          <h3>Características de tus productos</h3>
          <p>(medidas, peso, etc).</p>
        </section>

        <section>
          <div class="servicio">
            <div class="icono">
              <img class="Icon-Cliente" src="../assets/Images/ImgPrincipal/atencion.png" alt=""/>
            </div>
            <h3>Atencion al cliente</h3>
            <p>Gestionar preguntas y reclamaciones.</p>
          </div>
        </section>

        <section>
          <div class="servicio">
            <div class="icono">
              <img class="Icon-Rfc" src="../assets/Images/ImgPrincipal/archivo.png" alt=""/>
            </div>
            <h3>Tener RFC</h3>
            <p class="text">Como persona fisica o moral.</p>
          </div>
        </section>
      </div>
    </section>

    <section id="beneficios" class="ContBeneficios">
      <div>
        <h1 class="title-cont-beneficios">Beneficios de vender en Asociados UV</h1>
      </div>
      <div class="beneficios-text">
        <section class="beneficio-text">
          <div class="icon-beneficios">
            <img class="icon-el" src="../../assets/Images/ImgPrincipal/Vector.svg" alt=""/>
          </div>
          <div class="texto-beneficios">
            <h3>Mayor alcance global</h3>
            <p>Ampliar su base de clientes potenciales y aumentando las oportunidades de venta.</p>            
          </div>
        </section>
        <section class="beneficio-text">
          <div class="icon-beneficios">
            <img class="icon-el" src="../../assets/Images/ImgPrincipal/Vector.svg" alt=""/>
          </div>
          <div class="texto-beneficios">
            <h3>Menor capacidad de análisis</h3>
            <p>Permite realizar ajustes y optimizar su estrategia de venta de manera más efectiva.</p>            
          </div>
        </section>
        <section class="beneficio-text">
          <div class="icon-beneficios">
            <img class="icon-el" src="../../assets/Images/ImgPrincipal/Vector.svg" alt=""/>
          </div>
          <div class="texto-beneficios">
            <h3>Menores costos operativos</h3>
            <p>No se requiere el alquiler de un local físico y la contratación de personal.</p>            
          </div>
        </section>
        <section class="beneficio-text" style="margin-left: 10px;">
          <div class="icon-beneficios">
            <img class="icon-el" src="../../assets/Images/ImgPrincipal/Vector.svg" alt=""/>
          </div>
          <div class="texto-beneficios">
            <h3>Mayor disponibilidad y flexibilidad</h3>
            <p>Los clientes pueden realizar compras en cualquier momento.</p>            
          </div>
        </section>
        <section class="beneficio-text" style="margin-left: 18px;">
          <div class="icon-beneficios">
            <img class="icon-el" src="../../assets/Images/ImgPrincipal/Vector.svg" alt=""/>
          </div>
          <div class="texto-beneficios">
            <h3>Ampliar capacidad del catálogo de productos</h3>
            <p>Sin tener que preocuparse por los problemas de espacio físico</p>            
          </div>
        </section>
        <section class="beneficio-text" style="margin-left: 15px;">
          <div class="icon-beneficios">
            <img class="icon-el" src="../../assets/Images/ImgPrincipal/Vector.svg" alt=""/>
          </div>
          <div class="texto-beneficios">
            <h3>Mejorar la reputacion del negocio</h3>
            <p>Pueden percibir tu marca como más confiable y profesional</p>            
          </div>
        </section>
      </div>
    </section>

    <section id="contacto">
      <div class="ContContacto">
        <div class="button-row">
          <button
            class="Btn-contacto" mat-raised-button [routerLink]="['/about-us']" routerLinkActive="router-link-active">
            <div class="alinear-img">
              <img src="../../assets/Images/ImgPrincipal/llamada.png" alt="Contacto"/>
              <span>Contáctanos</span>
            </div>
          </button>
        </div>
      </div>    
    </section>

    
    <footer>
    </footer>
  </body>
</html>
