/*Encabezado*/

header{
    padding: 10px;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #79017E;
    color: white;
    font-weight: 600;
  }


  .enlaces{
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
  }

  .toolbar img {
    margin: 0 6px;
  }

  /*Estilo del nombre Asociados*/
  div .PageName{
    /* Asociados Uv */
    width: 268px;
    height: 43px;
    left: 139px;
    top: 51px;

    font-weight: 500;
    font-size: 20px;
    line-height: 43px;
    text-transform: uppercase;
    color: #FFE6F5;
  }

  span,
  a,
  div,
  h1,
  h2{
    font-family: 'Lato';
    font-style:normal;
  }
    /*Estilos de los botones*/

  .BtnIniciar{
    color:#79017E;
    text-decoration: none;;
    font-weight: bold;
    font-size: 15px;
    line-height: 2.2em;
    border: 2.5px solid #79017E;
    background: #FFFFFF;
    width: 130px;
    height: 40px;
    top: 29px;
    left: 1269px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 5px;
    box-sizing: border-box;
    padding: auto;
    text-align: center;
    cursor: pointer;
  }

   .BtnCrear{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 2.2em;
    border: 2.5px solid #FFFFFF;
    background: #79017E;
    width: 130px;
    height: 40px;
    top: 29px;
    left: 1269px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: auto;
    text-align: center;
    cursor: pointer;
  }


/*********************************************/

/*                 Estilos de las secciones             */


/*Estilo de la seccion 1*/
.ContInicio{
    background-image: url("../../assets/Images/ImgPrincipal/Section1.jpg");
    background-size: cover;
    margin-top: 60px;
    width: auto;
    height: auto;
    border-radius: 25px;
}

  .title1{
    font-size: 50px;
    margin: 0px;
    top: auto;
    margin-top: auto;
    width: 80%;
    height: auto;
    color: #FFFFFF;
    text-align:center;
    line-height: 190px;
  }

  .title2{
    font-size: 30px;
    padding: 20px;
    color: #FFB7D5;
    text-align: center;
    margin-left: 10px;
    top: 482px;
    line-height: 20px;
  }

  .title3{
    margin-top: auto;
    font-size: 30px;
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 10px;
    top: 482px;
  }


  @media screen and (max-width: 768px) {
    .title1 {
      width: 100%;
    }

    .otherImg{
        flex-direction:row;
        align-items: flex-start;
      }
  }


  .otherImg{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 20px;
  }

  .ventaImg{
    width: 220px;
    height: 190px;
    margin-right: 50px;
    border-radius: 25px;
    margin-top: 40px;
  }

  .ventaImg img {
    max-width: 100%;
    max-height: 100%;
  }

  .calidadImg{
    width: 80px;
    height: auto;
    margin: auto;
    display: block;
  }

  /*Estilos del contenedor de requisitos*/

.ContRequisitos{
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 25px;
    background-size: cover;
    margin-top: 60px;
    width: auto;
    height: auto;
}

.titleRequisitos{
    margin-top: 20px;
    font-size: 30px;
    padding: 20px;
    color: #030303;
    text-align: center;
    margin-left: 10px;
    top: 382px;
}

  /* Requisitos */

@media (min-width: 768px){
    .servicios{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       column-gap: 2rem;
    }
 }
 
 .servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .servicio h3{
    color: var(--secundario);
    font-weight: normal;
    margin: 0px;
    align-items: center;
    justify-content: center;
 }
 
 .servicio p{
    line-height: 2;
    font-weight: normal;
    margin: 5px;
    align-items: center;
    justify-content: center;
    color: #575555;
 }
 
 .servicio .icono{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 1.8rem;
    background-color: #B35FD7;
 }

 .icono img{
    width: auto;
    height: 180px;
    justify-content: center;
    display: flex;
 }

 .icono .Icon-Crear{
    margin: 60px;
    margin-top: 60px;
 }

 .icono .Icon-Desc{
    margin: 60px;
    margin-top: 56px;
  }

  .icono .Icon-Cliente{
    margin: 60px;
    margin-top: 56px;
    margin-left: 80px;
  }

  .icono .Icon-Rfc{
    margin: 60px;
    margin-top: 50px;
    margin-left: 80px;
  }


.ContBeneficios{
    background-color: #E1E1E1;
    height: 280px;
    border-radius: 25px;
    width: auto;
}

/*Seccion de contacto*/

.ContContacto{
  background-color: #FFFFFF;
  height: 280px;
  border-radius: 25px;
  width: auto;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.Btn-contacto{
  justify-content: center;
}
