<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Asociados UV</title>
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

   <!-- Link hacia el archivo de estilos css -->
   <link rel="stylesheet" href="validpasword.component.css">

   <style type="text/css">
   </style>
   
  <script type="text/javascript">
    </script>
</head>

<body>
    <div class="contanier">
        <div class="datos">
        <img class="seguro" src="../../assets/Images/password/validate.png" alt=""> 

        <h2><b>Contraseña segura.</b></h2>

        <p>El proceso de cambio de contraseña se ha llevado a cabo con éxito. Después de verificar la identidad del usuario y confirmar su autorización. Esta medida de seguridad ayuda a proteger la cuenta del usuario y garantizar la confidencialidad de su información personal. Ahora, el usuario podrá acceder a su cuenta utilizando la nueva contraseña y disfrutar de una experiencia segura en nuestra plataforma.</p>
        
        <button class="Btn-regresar" routerLink="/login">Regresar</button><br>

        </div>
    </div>
</body>
</html>
