<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <title>Asociados</title>
  <link rel="stylesheet" href="about-us.component.css">
</head>

<body>
  <header>
      <div class="toolbar" role="banner">
          <a class="link-icon" routerLink="">
            <img src="../assets/Images/apreton-de-manos.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            ASOCIADOS UV
          </a>
      
          <div class="title-container">
            <h1 class="title-page">Contáctanos</h1>
          </div>
      
          <div class="header-icons">
            <a href="" class="icon-link">
                <img src="../../assets/Images/Alerta.png" alt="Alertas">
          
              <span>Alertas</span>
            </a>
            <a href="" class="icon-link">
              <img src="../../assets/Images/usuario.png" alt="Sesion">
              <span>Sesion</span>
            </a>
          </div>
        </div>
  </header>  
  
  <main class="margen-about-us">
    <section>
      <div>
        <h1 class="title-about-us">SOBRE NOSOTROS</h1>
        <div class="text-about-us">
          <p>
            Asociados UV es una empresa líder en el sector del desarrollo de software. Con sede en Orizaba, nos enorgullece ofrecer soluciones de software de alta calidad y servicios personalizados para satisfacer las necesidades únicas de nuestros clientes.
          </p>
          <p>
            Nuestro equipo de profesionales altamente capacitados y apasionados está comprometido en proporcionar soluciones tecnológicas innovadoras y escalables. Nos especializamos en el desarrollo de aplicaciones web y móviles, diseño de interfaces intuitivas, implementación de bases de datos eficientes y soluciones de comercio electrónico.
          </p>
          <p>
            En Asociados UV, nos enorgullece nuestra capacidad para mantenernos a la vanguardia de las últimas tecnologías y tendencias en el desarrollo de software. Nos mantenemos actualizados con los avances en el campo y aplicamos las mejores prácticas de la industria en cada proyecto que emprendemos.
            Nuestra pasión por la excelencia y nuestra dedicación a la satisfacción del cliente nos han permitido establecer relaciones sólidas y duraderas con nuestros clientes. Valoramos la confianza que nuestros clientes depositan en nosotros y nos esforzamos por superar sus expectativas en cada proyecto.
          </p>
          <p>
            Nuestra pasión por la excelencia y nuestra dedicación a la satisfacción del cliente nos han permitido establecer relaciones sólidas y duraderas con nuestros clientes. Valoramos la confianza que nuestros clientes depositan en nosotros y nos esforzamos por superar sus expectativas en cada proyecto.
  
            Si estás buscando soluciones de software personalizadas y confiables, Asociados UV es tu socio de confianza. Permítenos ayudarte a transformar tus ideas en realidad y alcanzar el éxito tecnológico que deseas.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="cont-equipo">
        <h1 class="title-equipo">EQUIPO DIRECTIVO</h1>
        <div class="contenedor-equipo">
          <div class="fila-equipo">
            <div class="miembro">
              <div class="circulo img-alexis"></div>
              <h3>Alexis Roman</h3>
              <p>CEO</p>
              <p>a.roman@gmail.com</p>
              <p>Director Ejecutivo: Guiando el éxito de la organización</p>
            </div>
            <div class="miembro">
              <div class="circulo img-johan"></div>
              <h3>Johan Ortega</h3>
              <p>CTO</p>
              <p>j.ortega@gmail.com</p>
              <p>Maestro de la tecnología: Diseñando el futuro digital</p>
            </div>
          
            <div class="miembro">
              <div class="circulo img-daniel"></div>
              <h3>Daniel Rosas</h3>
              <p>CISO</p>
              <p>d.rosas@gmail.com</p>
              <p>Experto en ciberseguridad y defensa contra amenazas</p>
            </div>
            <div class="miembro">
              <div class="circulo img-denis"></div>
              <h3>Denisse Santos</h3>
              <p>COO</p>
              <p>d.santos@gmail.com</p>
              <p>Líder en innovación tecnológica y soluciones disruptivas</p>
            </div>  
          </div>
        </div>
        <div class="fila-equipo">
          <div class="miembro">
            <div class="circulo img-lizbeth"></div>
            <h3>Lizbeth Ortiz</h3>
            <p>CTO</p>
            <p>l.ortiz@gmail.com</p>
            <p>Liderando la estrategia tecnológica y la transformación digital</p>
          </div>
          <div class="miembro">
            <div class="circulo img-diego"></div>
            <h3>Diego Conde</h3>
            <p>CTO</p>
            <p>d.conde@gmail.com</p>
            <p>Arquitecto de la estrategia tecnológica y el crecimiento sostenible</p>
          </div>
          <div class="miembro">
            <div class="circulo img-sergio"></div>
            <h3>Sergio Jimenez</h3>
            <p>CTO</p>
            <p>s.jimenez@gmail.com</p>
            <p>Director de Tecnología: Conduciendo la excelencia tecnológica</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="cont-vision">
        <h1 class="title-vision">MISION Y VISION</h1>
        <div class="margen-vision">
          <div class="container">
            <div class="image-wrapper">
              <div class="text-overlay">
                <h2>Mision</h2>
              </div>
            </div>
            <div class="text-wrapper">
              <p>
                "Nuestra misión es facilitar la vida de las personas a través de soluciones tecnológicas innovadoras y accesibles. Nos comprometemos a desarrollar productos y servicios que simplifiquen tareas cotidianas, mejoren la eficiencia y potencien el bienestar de nuestros usuarios. Nos esforzamos por crear experiencias digitales intuitivas y personalizadas que se adapten a las necesidades y preferencias de cada individuo. Además, buscamos promover la inclusión digital, asegurando que nuestras soluciones sean accesibles para todas las personas, sin importar su nivel de habilidad tecnológica. Trabajamos con dedicación para marcar una diferencia positiva en la vida de las personas."</p>
            </div>
          </div>      
        </div>
        <div>
          <div class="container">
            <div class="text-wrapper">
              <p>“Nuestra visión es ser líderes en el desarrollo de software innovador y de vanguardia que satisfaga las necesidades de nuestros clientes y mejore su eficiencia y rentabilidad. Nos comprometemos a estar a la vanguardia de la tecnología y a ser un socio confiable y estratégico para nuestros clientes, ofreciendo soluciones personalizadas que les permitan alcanzar sus objetivos empresariales. Aspiramos a ser reconocidos por nuestro enfoque en la calidad, la excelencia y la satisfacción del cliente, y a operar de manera ética y sostenible, respetando el medio ambiente y contribuyendo positivamente a la comunidad en la que operamos.”</p>
            </div>
            <div class="image-wrapper">
              <div class="text-overlay">
                <h2>Vision</h2>
              </div>
            </div>
          </div>            
        </div>
      </div>
    </section>

    <section class="cont-contacto">
      <h1 class="title-contacto">INFORMACION DE CONTACTO</h1>
      <ul class="datos-contacto">
        <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Principal 123, Orizaba, Mexico</li>
        <li><i class="fas fa-phone"></i> Teléfono: +1234567890</li>
        <li><i class="fas fa-envelope"></i> Correo electrónico: info@asociadosuv.com</li>
      </ul>
    </section>
  </main>
  <footer>
    <img src="../../assets/Images/wave-haikei.svg" alt="">
  </footer>
</body>
</html>
