<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <title>Asociados</title>
  <link rel="stylesheet" href="publicar-p.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Foldit&family=Raleway:wght@100;500&display=swap" rel="stylesheet">
</head>

<header>
  <app-header-page title="Publicar Productos"></app-header-page>
</header>
<body>
    <app-sidebar></app-sidebar>
    <section class="fondoCrema">
        <div class="cuadroMoradoxd">
            <div class="columns">
                <div>
                    <p class="text">Ingresa el nombre de tu producto</p>
                    <input class="input" type="text" id="nombreProd" name="nombreProducto"> 
                </div>
                <div>
                    <p class="text1">Precio del producto</p>
                    <input class="input1" type="number" id="precioProd" name="precioProducto"> 
                </div>
                <div>
                    <p class="text2">Disponibilidad</p>
                    <input class="input2" type="number" id="distProd" name="disponibilidadProducto"> 
                </div>
            </div>
            <div class="file">
                <p class="text3">Ingresa la descripción del producto</p>
                <textarea class="input3" name="descripcionProducto" id="desProd" cols="20" rows="4"></textarea>
            </div>     
        </div>
        <div class="cuadroMorado2xd">
            <div class="columns2">
                <div>
                    <p class="text">Marca</p>
                    <input class="input" type="text" id="marca" name="marcaProducto"> 
                </div>
                <div>
                    <p class="text1">Modelo</p>
                    <input class="input" type="text" id="marca" name="marcaProducto"> 
                </div>              
            </div>
            <div class="file">
                <p class="text3">Fotos</p>
                <input class="inputFile" type="file" id="desProd" name="descripcionProducto"> 
            </div> 
        </div>
        <div class="cuadroMorado3xd">
            <div>
                <p class="text">Terminos y condiciones</p>
                <textarea class="input3" name="comments" id="comments" cols="20" rows="4"></textarea>

            </div>
        </div>
    </section>
    <section>
        <button class="botonCancelar" type="button">Cancelar</button> 
        <button class="botonContinuar" type="button">Confirmar</button>
      </section>
    <img class="ondita" alt="">

</body>