
/* Titulo de pagina*/
 
a,
span,
p,
div,
h1,
h2{
  font-family: 'Foldit', cursive;
  font-family: 'Raleway', sans-serif;
  font-style:normal;
}

/*Estilos del menu*/

#menu-lateral {
  margin-top: 62px;
  width: 100px;
  height: 100%;
  background-color: #D9D9D9;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;

}

#menu-lateral ul {
  list-style: none;
  padding: 0;
}

#menu-lateral li {
  background-color: #D9D9D9;
  margin: 1px 0;
  padding: 10px;
}

#menu-lateral li a {
  color: #fff;
  text-decoration: none;
  display:flex;
}


.menu-item img{
  width: auto;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #bebbbb;
}

.menu-text {
  display: none;
}

.menu-item:hover .menu-text {
  display: block;
}

.icon-menu{
  width: auto;
  height: 40px;
}
.fondoCrema{
    background-size: cover;
    position: absolute;
    width: 1160.88px;
    height: 1350.2px;
    left: 140.81px;
    top: 68.49px;
    justify-content: center;
    align-items: center;

    flex-direction:row;
    align-items: flex-start;
    display: flex;
    text-align: center;
    margin-top: 20px;
      
    background: rgba(255, 201, 148, 0.2);
    box-shadow: 0px 3.16204px 3.16204px rgba(0, 0, 0, 0.25), 0px 3.16204px 3.16204px rgba(0, 0, 0, 0.25);
    border-radius: 23.7153px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.cuadroMoradoxd{
    position: absolute;
    width: 980px;
    height: 400px;

    top: 55px;  
    background: rgba(121, 1, 126, 0.7);
    box-shadow: 0px 3.16204px 3.16204px rgba(0, 0, 0, 0.25);
    border-radius: 19.7627px;
}
.cuadroMorado2xd{
    position: absolute;
    width: 980px;
    height: 400px;
    left: 90px;
    top: 525px;  
    background: rgba(121, 1, 126, 0.7);
    box-shadow: 0px 3.16204px 3.16204px rgba(0, 0, 0, 0.25);
    border-radius: 19.7627px;
}
.cuadroMorado3xd{
    position: absolute;
    width: 980px;
    height: 300px;
    left: 90px;
    top: 1000px;  
    background: rgba(121, 1, 126, 0.7);
    box-shadow: 0px 3.16204px 3.16204px rgba(0, 0, 0, 0.25);
    border-radius: 19.7627px;
}
.input{
    font-family: 'Raleway';
    width: 330px;
    left: 25px;
    border-radius: 14px;
    padding: 6px;
    margin-top: 58px;
    border: 1px solid black;
}
.input1{
  font-family: 'Raleway';
  width: 230px;
  left: 65px;
  border-radius: 14px;
  padding: 6px;
  margin-top: 58px;
  border: 1px solid black;
}
.input2{
  font-family: 'Raleway';
  width: 230px;
  left: 25px;
  border-radius: 14px;
  padding: 6px;
  margin-top: 58px;
  border: 1px solid black;
}
.input3{
  font-family: 'Raleway';
  width: 900px;
  height: 200px;
  left: 25px;
  border-radius: 14px;
  padding: 6px;
  margin-top: 58px;
  border: 1px solid black;
  align-self: initial;
  
}
.inputFile{
  font-family: 'Raleway';
  width: 900px;
  height: 200px;
  left: 25px;
  border-radius: 14px;
  padding: 6px;
  margin-top: 58px;
  border: 1px solid black;
}
.text{
  text-align: left;
  font-family: 'Raleway';
  position: absolute;
  width: 308.18px;
  height: 37.94px;
  left: 40px;
  top: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 18.2963px;
  line-height: 30px;
  color: #FFFFFF;
}
.text1{
  text-align: left;
  font-family: 'Raleway';
  position: absolute;
  width: 308.18px;
  height: 37.94px;
  left: 393px;
  top: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 18.2963px;
  line-height: 30px;
  color: #FFFFFF;
}
.text2{
  text-align: left;
  font-family: 'Raleway';
  position: absolute;
  width: 308.18px;
  height: 37.94px;
  left: 643px;
  top: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 18.2963px;
  line-height: 30px;
  color: #FFFFFF;
}
.text3{
  text-align: left;
  font-family: 'Raleway';
  position: absolute;
  width: 308.18px;
  height: 37.94px;
  left: 40px;
  top:120px;
  font-style: normal;
  font-weight: 600;
  font-size: 18.2963px;
  line-height: 30px;
  color: #FFFFFF;
}
.columns{
  display: flex;
  border-spacing: 10px 5px;
  column-gap: 20px;
  padding-left: 39px;
}
.columns2{
  display: flex;
  border-spacing: 10px 5px;
  column-gap: 20px;
  padding-left: 39px;
}
.ondita{
  position: absolute;
  width: 1359.2px;
  height: 86.96px;
  left: -10px;
  top: 1547.88px;
  border-color: none;
  background: url("../../../assets/Images/Sergio/pub1/Vector.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.botonCancelar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 17.3912px 53.5174px;
  gap: 7.91px;

  position: absolute;
  width: 202.96px;
  height: 59.05px;
  left: 372.33px;
  top: 1460px;


  background: #FFFFFF;
  border: 1.97627px solid #9B109B;
  box-shadow: 0px 15.8102px 27.6678px rgba(0, 0, 0, 0.05);
  border-radius: 11.8576px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 25.5729px;
  line-height: 23px;
  
  color: #9B109B;
  }
.botonContinuar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 17.3912px 49.5174px;
  gap: 7.91px;

  position: absolute;
  width: 202.96px;
  height: 59.05px;
  left: 824.5px;
  top: 1460px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 25.5729px;
  line-height: 23px;
  background: #9B109B;
  border: 0.790509px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15.8102px 27.6678px rgba(0, 0, 0, 0.05);
  border-radius: 11.8576px;

  color: #FFFFFF;
}
.success-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.success-message.visible {
  opacity: 1;
}
