<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Asociados UV</title>
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

   <!-- Link hacia el archivo de estilos css -->
   <link rel="stylesheet" href="password.component.css">
   <script src=""></script>

   <style type="text/css">
   </style>
   
   <script type="text/javascript">

   </script>
</head>

<body>
    <div class="contanier">
        <div class="datos">
        <p>Cree una contraseña segura</p>
        <input type="password" required placeholder="Nueva contraseña">
        <input type="password" required placeholder="Confirmar contraseña"><br>
        <button class="Btn-confirmar" routerLink="">Confirmar</button><br>
        </div>
    </div>
</body>
</html>

