<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Asociados UV</title>
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

   <!-- Link hacia el archivo de estilos css -->
   <link rel="stylesheet" href="password.component.css">

   <style type="text/css">
   </style>
   
   <script>

    function validarPassword() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;

      if (password.length < 8) {
        alert("La contraseña debe tener al menos 8 caracteres.");
        return false;
      }

      if (password !== confirmPassword) {
        alert("Las contraseñas no coinciden.");
        return false;
      }

      return true;
    }
  </script>
  <script type="text/javascript">
    </script>
</head>

<body>
    <div class="contanier">
        <div class="datos">
        <p>Cree una contraseña segura</p> 

        <ul class="lista">
            <li>Un caracter en la contraseña como @$%#.</li>
            <li>La contraseña debe ser de 8 caracteres.</li>
            <li>La nuevas contraseña deben coincidir.</li>
            <li>Minimo un numero en la contraseña.</li>
            <li>Minimo una palabra mayuscula.</li>
            
        </ul>
        
        <img class="candado" src="../../assets/Images/password/key.png" alt="">

        <form onsubmit="return validarPassword()">
           
            <input type="password" id="password" name="password" required placeholder="Nueva contraseña"><br>
        
            <input type="password" id="confirmPassword" name="confirmPassword" required required placeholder="Confirmar contraseña"><br><br>

            <button class="Btn-confirmar" type="submit" routerLink="/validpasword">Confirmar</button><br><br><br>
          </form>
        </div>
    </div>
</body>
</html>

