
/* Titulo de pagina*/
 
a,
span,
p,
div,
h1,
h2{
  font-family: 'Raleway', sans-serif;
  font-style:normal;
}


/*Estilo del cuadro de busqueda*/
.search-wrapper {
  cursor: pointer;
  margin-left: 3em;
  margin-top: 6em;
  margin-bottom: 2em;
  width: 13.7em;
  display: flex;
  align-items: center;
  border-radius: 1px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.search-input{
  border-radius: 5px;
  border: 1px solid #aa9b9b;
}
.fa-search {
  color: #999;
  transition: color 0.3s;
  margin-left: 5px;
}

.fa-search:hover {
  color: #000;
}

/*Estilos  del filtro*/
.filtro-date{
  display: inline-block;
  margin-left: 3em;
}

.input{
  box-shadow: 0px 3.16204px 3.16204px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border: 1px solid #000000;
  cursor: pointer;
}


/*Estilos de tabla*/

#table-container {
  width: 90%;
  overflow-x: auto;
  border-radius: 30px;
  border: 1px solid #000000;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.centered-pagination {
  display: flex;
  justify-content: center;
}

#data-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

#data-table th,
#data-table td {
  border-bottom: 1px solid black;
  padding: 8px;
  text-align: center;
}

/*Estilos de la paginacion*/
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#pagination button {
  color:#9B109B;
  float: left;
  padding: 8px 16px;
  background-color: white;
  text-decoration: none;
  border: none;
  transition: background-color .3s;
  border-radius: 30px;
}

#pagination button.active {
  background-color: #9B109B;
  color: white;
  border-radius: 30px;
  border: none;
}

.pagination-button:hover {
  background-color: #e4e4e4;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.arrow {
  margin-right: 4px;
  font-size: 12px;
}