
/* Titulo de pagina*/
 
a,
span,
p,
div,
h1,
h2{
  font-family: 'Raleway', sans-serif;
  font-style:normal;
}

/*Estilos del menu*/

#menu-lateral {
  margin-top: 62px;
  width: 100px;
  height: 100%;
  background-color: #D9D9D9;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;

}

#menu-lateral ul {
  list-style: none;
  padding: 0;
}

#menu-lateral li {
  background-color: #D9D9D9;
  margin: 1px 0;
  padding: 10px;
}

#menu-lateral li a {
  color: #fff;
  text-decoration: none;
  display:flex;
}


.menu-item img{
  width: auto;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #bebbbb;
}

.menu-text {
  display: none;
}

.menu-item:hover .menu-text {
  display: block;
}

.icon-menu{
  width: auto;
  height: 40px;
}