<!DOCTYPE html>
<html>

<head>
    <title>Retiro de Fondos</title>
</head>
<header>
    <app-header-page title="Retiro de Fondos"></app-header-page>
</header>
<app-sidebar></app-sidebar>

<body style="padding-top: 60px;">
    <!-- Content Wrapper. Contains page content -->
    <div id="principal">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-6">
                        <div class="card direct-chat direct-chat-primary" style="background: rgba(255, 201, 148, 0.2);
                            border-radius: 25px;">
                            <div class="card-header">
                                <h5 class="card-title">Saldo Disponible</h5>
                            </div>
                            <div id="dinero" style="background: #79017E; border-radius: 25px; display: flex; align-items: center; justify-content: center; margin-left: 40px ; margin-right: 40px ; margin-top: 30px; margin-bottom: 30px;">
                                <p style="font-size: 42px; margin-left: 40px auto; margin-right: 40px auto; margin-top: 30px; margin-bottom: 30px; color: white;"> {{ saldo | currency:'USD':'symbol':'1.2-2' }}</p>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center; margin-left: 40px ; margin-right: 40px ; margin-top: 30px; margin-bottom: 30px;">
                                <button type="button" routerLink="/datos-retiro" class="btn btn-block btn-default btn-lg" style="font-size: 25px; background-color: #79017E; width: 300px; height: 80px; color: white; border-radius: 25px;">Retiro De Fondos</button>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center; margin-left: 40px ; margin-right: 40px ; margin-top: 30px; margin-bottom: 30px;">
                                <button type="button" routerLink="/calendario" class="btn btn-block btn-default btn-lg" style="font-size: 25px; border-color: #79017E; width: 300px; height: 80px; border-radius: 25px;">Ver Calendario</button>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="card direct-chat direct-chat-primary" style="background: rgba(255, 201, 148, 0.2); border-radius: 25px;">
                              <div class="card-header">
                                <h3 class="card-title">Ultimos Movimientos</h3>
                              </div>                              
                              <div class="card-body">
                                <div class="direct-chat-messages" style="height: 65vh;">
                                  <div *ngFor="let movimiento of movimientos" class="row m-2" [ngStyle]="{ 'background': movimiento.tipo === 'retiro' ? '#79017E' : '#33CFFF' }" style="border-radius: 20px; color: white;">
                                    <div class="col-3 col-md-2 d-flex align-items-center justify-content-center">
                                      <img [src]="movimiento.tipo === 'retiro' ? '../assets/Images/iRetira.png' : '../assets/Images/iRecibo.png'" alt="Imagen del producto" style="height: 70px; width: 70px; border-radius: 15px;">
                                    </div>
                                    <div class="col-5 col-md-6 d-flex align-items-center">
                                      <p style="font-size: 25px;">{{ movimiento.tipo === 'retiro' ? 'Retiraste' : 'Recibiste' }}</p>
                                    </div>
                                    <div class="col-4 col-md-4">
                                      <p class="mt-2" [style.color]="movimiento.tipo === 'retiro' ? 'red' : 'green'" style="font-size: 25px;">$ {{ movimiento.monto }}</p>
                                      <p class="mt-2">{{ movimiento.fecha || movimiento.fecha_hora }}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="direct-chat-footer" style="padding: 10px; text-align: right;">
                                <a class="ver-movimientos" (click)="redirectToSaldos()">Ver todos los movimientos</a>
                              </div>                              
                            </div>
                          </div>
                    </div>                          
                                                              
                </div>
            </div>
        </section>
    </div>
</body>

</html>