<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <title>Asociados UV</title>
    <link href="https://fonts.googleapis.com/css2?family=Foldit&family=Raleway:wght@100;500&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <app-header-page title="Inventario"></app-header-page>
    </header>
    <app-sidebar></app-sidebar>

    <div class="margin-page">
        <div class="margen-btn">
            <button class="actualizar">Actualizar stock</button>
            <button class="crear-oferta">Crear oferta</button>
            <button class="registrar">Registrar</button>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 0.5em;">
            <div class="filtro-date">
                <input class="input" type="date" id="inicioOfe" name="inicioOferta" min="<?= date('Y-m-d'); ?>"> 
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <div id="table-container">
                <table id="data-table">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" [(ngModel)]="selectAll"  [(ngModel)]="selectAll" (change)="selectAllRows()" />
                            </th>
                            <th *ngFor="let column of columns">{{ column }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of displayedData">
                            <td><input type="checkbox" [(ngModel)]="checkboxes[row[0]]" />
                            </td> <!-- Checkbox -->
                            <td>{{ row[0] }}</td> <!-- ID -->
                            <td>
                                <img *ngIf="row[1]" [src]="row[1]" alt="Foto"
                                    style="max-width: 50px; max-height: 50px;">
                            </td> <!-- Foto -->
                            <td>{{ row[2] }}</td> <!-- Producto -->
                            <td>{{ row[3] }}</td> <!-- Motivo -->
                            <td>{{ row[4] }}</td> <!-- Estado -->
                            <td>{{ row[5] }}</td> <!-- Lugar -->
                            <td>{{ row[6] }}</td> <!-- Fecha -->
                            <td>{{ row[7] }}</td> <!-- N. Cliente -->
                            <td>{{ row[8] }}</td> <!-- Total -->

                            <td>
                                <a href="#"><i class="fas fa-edit"></i></a> <!-- Símbolo de editar -->
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="pagination" class="centered-pagination">
                <button class="pagination-button" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
                    <i class="fas fa-arrow-left"></i> Anterior
                </button>

                <button *ngFor="let pageNumber of getPageNumbers()" [class.active]="pageNumber === currentPage"
                    (click)="changePage(pageNumber)">
                    {{ pageNumber }}
                </button>

                <button class="pagination-button" (click)="changePage(currentPage + 1)"
                    [disabled]="currentPage === totalPages">
                    Siguiente <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <app-footer-page></app-footer-page>
</body>