<div class="form-group" style="text-align: center;">
    <mat-form-field appearance="fill">
      <mat-select formControlName="month">
        <mat-option value="enero">Enero</mat-option>
        <mat-option value="febrero">Febrero</mat-option>
        <mat-option value="marzo">Marzo</mat-option>
        <mat-option value="abril">Abril</mat-option>
        <mat-option value="mayo">Mayo</mat-option>
        <mat-option value="junio">Junio</mat-option>
        <mat-option value="julio">Julio</mat-option>
        <mat-option value="agosto">Agosto</mat-option>
        <mat-option value="septiembre">Septiembre</mat-option>
        <mat-option value="octubre">Octubre</mat-option>
        <mat-option value="noviembre">Noviembre</mat-option>
        <mat-option value="diciembre">Diciembre</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  