<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <title>Asociados</title>
  <link rel="stylesheet" href="publicidad2.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Foldit&family=Raleway:wght@100;500&display=swap" rel="stylesheet">
</head>

<header>
  <app-header-page title="Publicidad y anuncios"></app-header-page>
</header>
<body>
  <app-sidebar></app-sidebar>
  <section class="fondoCrema">
    <h2 class="text1">Elige el nombre y presupuesto de tu campaña</h2>
    <div class="cuadroMoradoxd">
        <p class="nombre">Nombre</p>
        <input class="input" type="text" id="nombre" name="nombre" [(ngModel)]="nombre" [(ngModel)]="campania.nombre" required>       
    </div>
    <div class="cuadroMorado2xd">
        <p class="presupuesto">Presupuesto diario</p>
        <input class="input" type="number" id="presupuestoDiario" name="presupuestoDiario" [(ngModel)]="presupuestoDiario"  [(ngModel)]="campania.presupuestoDiario"required>  
    </div>
    <div class="cuadroMorado3xd">
      <img class="imgFoquito" alt="" src="../../../assets/Images/Sergio/pub2/imagen8.png">
      <p class="textInfo">El nombre de la campaña te permitira identificar más rapido los anuncios que agrupaste.
        El presupuesto que elijas será el monto maximo que cobraremos por día</p>
    </div>
  </section>
  <section>
    <button (click)="cancelar()" class="botonCancelar" type="button">Cancelar</button> 
    <button (click)=" imprimirCampania(); enviarCampania()" class="botonContinuar" type="button">Confirmar</button>
  </section>
  
</body>

